.app {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.app__header {
  margin-top: 5rem;
  margin-left: 4rem;
}

.app__body {
  width: 75%;
  margin-left: 4rem;
  margin-top: 1rem;
}

.app__chart{
  padding: 3rem;
}

